
header{
    background-color: pink;
    text-align: center;
}

body h1{
    font-size: 20px;
}

footer.info-footer{
    background-color: #E77EFF;
    text-align: center;
}

footer h1{
    font-size: 15px;
}

img.skillshare-picture{
    width: 190px;
  border-radius: 50px;
}

img.rock-picture{
    border-radius: 300px;
    width: 190px;
    border: 8px solid black;
}


body button{
    background-color: #FF9152;
}

header h1{
    font-size: 17px;
}

header h3{
    font-size: 20px;
}

header h2{
    font-size: 27px;
}

img.why-picture{
    width: 200px;
}



body h1{
    font-family: 'Noto Sans', sans-serif;
}

img.why-2-picture{
    width: 120px;
}

h1.why-2-text{
    font-size: 25px;
}


img.what-can-i-do-picture{
  width: 300px;
}

li.info{
  text-align: left;
}


footer.creator{
  background-color: purple;
  text-align: left;
}

h6{
  color: pink;
  font-size: 6px;
}



div.test{
	background-color: #23C8FD;
	margin-left: 830px;
	margin-bottom: 30px;
	margin-top: -40px;
	margin-right: 60px;
	text-align: center;
}

img.what-do-i-want-to-be-able-to-do-picture{
	width: 270px;
}

h1.wdiwtbatd{
	font-size: 7px;
	color: #23C8FD;
}

div.rock{
	background-color: #6C6C6C;
	margin-left: 120px;
	margin-right: 720px;
	text-align: center;
	margin-top: 40px;
}

div.rock h2{
	font-size: 8px;
	color: #6C6C6C;
}

div.header{
	margin-left: 270px;
	margin-right: 270px;
}

div.header h5{
	color: pink;
	font-size: 8px;
}

div.skillshare{
	background-color: lightgreen;
	text-align: center;
	margin-left: 800px;
	margin-right: 40px;
	margin-top: -120px;
}

div.skillshare h2{
	font-size: 8px;
	color: lightgreen;
}

div.why{
	background-color: #E77EFF;
	text-align: center;
	margin-right: 750px;
	margin-left: 65px;
	margin-top: -130px;
}

div.why h2{
	color: #E77EFF;
	font-size: 8px;
}

div.why-2{
	text-align: center;
	background-color: #F963FF;
	margin-left: 760px;
	margin-top: -90px;
	margin-right: 9px;
}

div.why-2 h2{
	color: #F963FF;
	font-size: 8px;
}

div.wcid{
	background-color: #FFBD80;
	text-align: center;
	margin-right: 720px;
	margin-left: 40px;
	margin-top: -230px;
}

div.wcid h2{
	font-size: 8px;
	color: #FFBD80;
}

div.iam{
	margin-right: 720px;
	margin-left: 40px;
	margin-top: -230px;
}

div.iam h2{
	color: #E77EFF;
	font-size: 8px;
}

div.creator{
	text-align: center;
	background-color: purple;
}

div.creator h2{
	color: purple;
	font-size: 8px;
}