
header{
	background-color: pink;
	text-align: center;
}

body h1{
	font-size: 20px;
}

footer{
	background-color: #E77EFF;
	text-align: center;
}

footer h1{
	font-size: 15px;
}

img.skillshare-picture{
    width: 190px;
    margin-left: 985px;
    margin-top: -100px;
  border-radius: 50px;
}

img.rock-picture{
	border-radius: 300px;
	width: 190px;
	border: 8px solid black;
	margin-left: 255px;
	margin-top: 20px;
	margin-bottom: 7px;
}

body h1{
	margin-left: 100px;
}

body button{
	margin-left: 320px;
	background-color: #FF9152;
}

header h1{
	font-size: 17px;
}

header h3{
	font-size: 20px;
}

header h2{
	font-size: 27px;
}

h1.skillshare-text{
  margin-left: 880px;
}

a.skillshare-button{
  margin-left: 728px;
}

img.why-picture{
	width: 200px;
	margin-right: 200px;
	margin-left: 385px;
}

h1.why-text{
	margin-left: 260px;
}

a.why-button{
	margin-left: 140px;
}

body h1{
	font-family: 'Noto Sans', sans-serif;
}